h1{
    color: aqua;
}
p{
    color: blue;
}
#mama{
    color: blueviolet;
}
.mitipografia{
    color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}