h1{
    color: red;
}

.flex-container{
    background-color: aqua;
    height: 50vh;
    width: 50vw;
    display: flex;
    /* eje principal*/
    flex-direction: row;
    justify-content: end;

    /*eje secundario*/
    align-items: flex-end
    ;
}

.flex-item{
    width: 15%;
    height: 15%;
    background-color:brown;
    border: 1px solid violet;
}