*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 25vh;
}

a{
    color: aliceblue;
    text-decoration: none;
}

img{
    border-radius: 50%;
}

 nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

li{
    margin: 5em;

}
